*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-image: url(../image/lion2.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}
span{
    color: white;
    font-style: italic;
    font-size: 20px;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
   
}
a{
    text-decoration: none;
    color: white;
    transition: 1s;
}
a:hover{
    transform: scale(1.1);
    color: aqua;
    background-color: blue;
    padding: 10px;
}
.father{
    padding: 50px;
    color:white;
}
.father h1{
    font-size: 70px;
    font-style: italic;
    text-transform: capitalize;
}
p{
    /*padding: 20px;*/
}
b{
    color: orangered;
}
button{
    border: 2px solid;
    padding: 20px;
    border-radius: 10px;
    color: blue;
    transition: 1s;
    margin: 10px;
}
.btn:focus{
 background-color: black;
 cursor: pointer;
}
section{
    display: flex;
    justify-content: end;
    padding: 10px;
    gap: 10px;
    position: relative;
   
    
}
.cc{
    border-radius: 10px;
    border: 2px solid;
    transition: 1s;
    filter: brightness(0.3);
}
.cc:hover{
    color: blueviolet;
    transform: scale(1.1);
    transform: translate(60);
    filter: brightness(2);
    perspective-origin: center;
    
}
h6{
    color: rgb(247, 247, 249);
    font-size: 20px;
    font-style: italic;
    position: absolute;
   
    bottom: 15%;
}
.two{
    background-color: antiquewhite;
}
@media (min-width:440px) and (max-width:800px) {
    section{
        display: flex;
       flex-wrap: wrap;
    }
    
}



